# Python bytecode files
__pycache__/
*.py[cod]

# Django stuff:
*.log
db.sqlite3
media/
staticfiles/
static/

# Virtual environments
env/
venv/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
# Ignore environment and secret files
.env
env/
.venv/
venv/
*.env

